# More config options:
# - http://coverage.readthedocs.io/en/latest/config.html
# - http://coverage.readthedocs.io/en/latest/excluding.html#excluding

[report]

omit =
    */python?.?/*
    */site-packages/*
    *__init__*

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    @abstractmethod

    raise NotImplementedError

    def __repr__

    def __str__

    def __fields

    def __invariants

    # for now excluding the print/style functions
    build_pretty_binary_heap
