# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
*.egg-info/
*.egg

# MAIN

kruskal.py
ands/algorithms
ands/ds/Graph.py
ands/ds/GraphNode.py


# Other
COMMANDS.md
templates/
FUTURE.md
cn/
ca/
pkg/
pyclean.sh