# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
env/
*.egg-info/
*.egg

**/.DS_Store

# FILES
ands/algorithms/greedy/huffman.py
ands/ds/Graph.py

# DIRECTORIES
venv/
_ignore/
ands/ds/TST/
ands/algorithms/graphs/
ands/algorithms/unclassified/
