# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
*.egg-info/
*.egg

# Other
COMMANDS.md
templates/
FUTURE.md

kruskal.py

ands/algorithms
ands/ds/Graph.py
ands/ds/GraphNode.py